.quadradinho {
    width: 20px;
    height: 20px;
    background: #089;
    display: inline-block;
}

.quadradinho:nth-child(odd) {
    background: #078;
}

.quadradinho:hover {
    transform: scale(1.09);
    background-color: rgb(0, 255, 221);
}

b {
    display: block;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    transform:  rotate(-45deg) scale(1, 1.333);
}